.header {
	background-color: $primaryColor;
	padding: 15px;

	.logo {
		color: #fff;
		font-weight: 700;
		text-transform: uppercase;
	}
	.link {
		a {
			color: #fff;
			font-size: 14px;

			svg {
				margin-right: 5px;
			}
		}
	}
}
