html,
body {
	font-family: $baseFont;
	font-weight: 400;
}

h1 {
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 700;
}
h2 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
}
